{% extends "layout.html" %}

{% block content %}

    <h1>Book Listings</h1>
    <h2>Welcome</h2>
    <h3>Here you will find a listing of books</h3>

    <!-- Don't need this link witht the `extends layout` stuff going on -->
    <!-- <a href="books/new">Visit New Books Form Page To Insert New Books</a> -->

    {% if books %}
        <ul>
        {% for book in books %}
            <li>{{ book.title }}, by {{ book.author_id }}</li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Books not found.</p>
    {% endif %}
{% endblock %}