{% extends "layout.html" %}

{% block content %}

    <h1>New Book Form</h1>

    <a href="/books">book page</a>
    
    <p>Use The Book Form To Create New Books</p>

    <!-- not needed because we're using the layout -->
    <!-- <form action="/books/create" method="POST"> -->

        <label>Title:</label>
        <input type="text" name="title" placeholder="Pretend Book">

        <label>Author:</label>
        <select name="author_name">
          <option value="A1">Author 1</option>
          <option value="A2">Author 2</option>
          <option value="A3">Author 3</option>
        </select>

        <button>Submit</button>
    </form>

{% endblock %}